
version: '3'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis

  worker:
    build: .
    command: celery -A config worker -l info
    depends_on:
      - redis
